<footer>
    <div class="container-fluid" style="padding: 30px 160px;">
        <div class="row d-flex flex-wrap justify-content-center">
            <div class="col mb-4">
                <p class="fs-5 fw-bold m-0">VỀ PENZE SILVER</p>
                <div class="sub-line"></div>
                <div class="vstack gap-2">
                    <a href="#" class="ps-1 text-nowrap">Câu chuyện thương hiệu</a>
                    <a href="#" class="ps-1 text-nowrap">Về chúng tôi</a>
                    <a href="#" class="ps-1 text-nowrap">Liên hệ</a>
                </div>
            </div>
            <div class="col mb-4">
                <p class="fs-5 fw-bold m-0">MY PENZE SILVER</p>
                <div class="sub-line"></div>
                <div class="vstack gap-2">
                    <a href="#" class="ps-1">Quyền lợi thành viên</a>
                    <a href="#" class="ps-1">Thông tin thành viên</a>
                    <a href="#" class="ps-1">Theo dõi đơn hàng</a>
                    <a href="#" class="ps-1">Hướng dẫn đặt hàng</a>
                </div>
            </div>
            <div class="col mb-4">
                <p class="fs-5 fw-bold m-0">CHÍNH SÁCH</p>
                <div class="sub-line "></div>
                <div class="vstack gap-2">
                    <a href="#" class="ps-1">Chính sách chung</a>
                    <a href="#" class="ps-1">Chính sách giao hàng</a>
                    <a href="#" class="ps-1">Chính sách đổi trả</a>
                    <a href="#" class="ps-1">Chính sách bảo mật</a>
                    <a href="#" class="ps-1">Điều khoản sử dụng</a>
                </div>
            </div>
            <div class="col pt-3 mb-4">
                <div class="vstack gap-1">
                    <img class="sz-auth" src="\assets\footer\bo_cong_thuong.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4">
                <p class="fs-5 fw-bold m-0">ĐỊA CHỈ</p>
                <div class="sub-line"></div>
                <div class="vstack gap-2">
                    <div class="hstack gap-3">
                        <i class="fa-solid fa-location-dot fa-xl" style="color: #ffffff;"></i>
                        <p class="m-0 pt-2 text-nowrap">669 QL1A, khu phố 3,<br>
                            Thủ Đức, Thành phố Hồ Chí Minh</p>
                    </div>
                    <div class="hstack gap-3">
                        <i class="fa-solid fa-phone fa-flip-horizontal fa-xl" style="color: #ffffff;"></i>
                        <p class="m-0">1900 68 68</p>
                    </div>
                    <div class="hstack gap-3 mt-2">
                        <i class="fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i>
                        <p class="m-0">penzesilver&#64;gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="fs-5 fw-bold m-0">KẾT NỐI</p>
                        <div class="sub-line"></div>
                        <div class="hstack gap-4 my-4 py-2">
                            <i class="fa-brands fa-facebook fa-2xl" style="color: #ffffff;"></i>
                            <i class="fa-brands fa-instagram fa-2xl" style="color: #ffffff;"></i>
                            <i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff;"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <p class="fs-5 fw-bold m-0">THANH TOÁN</p>
                        <div class="sub-line"></div>
                        <div class="hstack gap-4 py-2 d-flex flex-wrap">
                            <img class="ico" src="\assets\payment\cod.png">
                            <img class="ico" src="\assets\payment\momo.png">
                            <img class="ico" src="\assets\payment\zalopay.png">
                            <img class="card-ico" src="\assets\payment\napas.jpeg">
                            <img class="card-ico" src="\assets\payment\visa.jpeg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="fs-5 fw-bold m-0">THÔNG TIN KHUYẾN MÃI</p>
                <div class="sub-line"></div>
                <div class="vstack gap-4">
                    <input type="email" name="inf_promote" id="email_noti" placeholder="Nhập email*">
                    <textarea name="inf_promote" id="question" placeholder="Thắc mắc hoặc đóng góp ý kiến(nếu có)"
                        cols="10" rows="3"></textarea>
                    <button class="py-1" type="submit">Gửi</button>
                </div>
            </div>
        </div>
    </div>
</footer>