<div class="row">
    <img src="" alt="" style="width: 100%;">
</div>
<div class="row m-5">
    <h1 class="pt-5 ps-5 pb-3 font--weight-600">Thương hiệu của sự đột phá</h1>
    <div class="col-lg-5 col-md-6 ms-5">
        <div class="font--weight-400 font--size-18">
            <p>
                Penze Silver - một tinh hoa sáng tạo của thế hệ GenZ. Ra đời từ năm 2023, Penze Silver là một
                hành trình tìm kiếm vẻ đẹp đích thực trong sự đơn giản và tinh tế. Nhóm sáng lập, những cá nhân
                trẻ trung và đầy nhiệt huyết, đã biến ước mơ thành hiện thực, tạo nên một thương hiệu trang sức
                bạc độc đáo.
            </p>
            <p>
                Penze Silver không chỉ là sự kết hợp của vật liệu chất lượng và thiết kế nghệ thuật, mà còn là
                bản hòa nhạc của cái đẹp và cái tinh tế. Mỗi sản phẩm của Penze Silver không chỉ là một mảnh
                trang sức, mà là một tác phẩm nghệ thuật nhỏ, nơi mỗi đường nét và chi tiết được chế tác tỉ mỉ,
                tạo nên vẻ đẹp riêng biệt.
            </p>
            <p>
                Khác biệt là chìa khóa mở cánh cửa cho sự đa dạng tại Penze Silver. Dòng sản phẩm đa dạng, từ
                những chiếc vòng cổ tinh tế đến những chiếc bông tai phóng khoáng, đều là biểu tượng của sự sáng
                tạo và cái đẹp không lẫn vào đâu được. Đây không chỉ là việc sáng tạo trang sức, mà là việc tạo
                ra những tác phẩm nghệ thuật mang đậm chất cá nhân.
            </p>
            <p>
                Điều tuyệt vời không chỉ nằm ở vẻ đẹp của sản phẩm, mà còn ở sự cam kết với chất lượng tại Penze
                Silver. Mỗi chiếc trang sức không chỉ là một cảm nhận về vẻ đẹp, mà còn là sự đảm bảo về chất
                lượng và giá trị. Với giá cả cạnh tranh, Penze Silver muốn mở ra cánh cửa cho mọi người để trải
                nghiệm sự tinh tế và sang trọng mà không cần phải chi trả một giá quá cao.
            </p>
            <p>
                Penze Silver không chỉ là một thương hiệu trang sức, mà là biểu tượng của phong cách, cái đẹp,
                và sự sáng tạo hiện đại, một hành trình khám phá vẻ đẹp tinh tế trong từng đường cong của cuộc
                sống.
            </p>
        </div>

    </div>
    <div class="col text-center">
        <img src="\assets\about\img_aboutUs\placeholder1.png" style="width: 40vw; height: 400px;">

    </div>
</div>
<div class="row" style="background: #FAFAFA">
    <div class="col-lg-6 img-fluid">
        <img src="\assets\about\img_aboutUs\placeholder2.png" style="width: 50vw;">
    </div>
    <div class="col me-1">
        <h1 class="pb-4 pt-5 fw-bold">Chúng tôi cam kết</h1>
        <div class="camket_container ">
            <div class="camket_item">
                <div class="pb-3">
                    <img src="\assets\about\guarantee\quality.svg">
                    <span class="font--size-18 font--weight-600 ps-2">Chất lượng hàng đầu</span>
                </div>
                <div class="pb-3">
                    <img src="\assets\about\guarantee\satisfy.svg">
                    <span class="font--size-18 font--weight-600 ps-2">Khách hàng hài lòng</span>
                </div>
                <div class="pb-3">
                    <img src="\assets\about\guarantee\shipment.svg">
                    <span class="font--size-18 font--weight-600 ps-2">Giao hàng nhanh chóng</span>
                </div>
            </div>
            <div class="camket_item">
                <div class="pb-3">
                    <img src="\assets\about\guarantee\price.svg">
                    <span class="font--size-18 font--weight-600 ps-2">Giá cả cạnh tranh</span>
                </div>
                <div class="pb-3">
                    <img src="\assets\about\guarantee\payment.svg">
                    <span class="font--size-18 font--weight-600 ps-2">Thanh toán an toàn</span>
                </div>
                <div class="pb-3">
                    <img src="\assets\about\guarantee\support.svg">
                    <span class="font--size-18 font--weight-600 ps-2">Hỗ trợ 24/7</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #f2f2f2">
    <div class="row text-center">
        <h3 class="mt-5 font--weight-600">Đội ngũ</h3>
        <p class="text--color-gray">Hãy ghé thăm đội ngũ của chúng tôi trên các nền tảng khác để hiểu thêm về chúng tôi!
        </p>
    </div>
    <div class="row align-items-center justify-content-evenly ">
        <div class="col-md-2 col-sm-4 col-6 border border-light-subtle rounded-3 m-0 p-0"
            style="background-color: #FFF;">
            <img src="\assets\about\image_member\linh.png" alt="" class="rounded-3 img-fluid" id="img_member">
            <div class="ps-2 pt-3">
                <h6 class="font--size-16 font--weight-600">Phạm Mai Huyền Linh</h6>
                <p class="text--color-gray font--size-14">Team Leader/BA</p>
            </div>
        </div>
        <div class=" col-md-2 col-sm-4 col-6 border border-light-subtle rounded-3 m-0 p-0"
            style="background-color: #FFF;">
            <img src="\assets\about\image_member\truc.png" alt="Hoàng Thanh Trúc" class="rounded-3 img-fluid" id="img_member">
            <div class="ps-2 pt-3">
                <h6 class="font--size-16 font--weight-600">Hoàng Thanh Trúc</h6>
                <p class="text--color-gray font--size-14">Front-end Developer</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 border border-light-subtle rounded-3 m-0 p-0"
            style="background-color: #FFF;">
            <img src="\assets\about\image_member\anh.png" alt="Nguyễn Thị Hồng Ánh" class="rounded-3 img-fluid"
                id="img_member">
            <div class="ps-2 pt-3">
                <h6 class="font--size-16 font--weight-600">Nguyễn Thị Hồng Ánh</h6>
                <p class="text--color-gray font--size-14">UX/UI Designer</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 border border-light-subtle rounded-3 m-0 p-0"
            style="background-color: #FFF;">
            <img src="\assets\about\image_member\hoa.png" alt="Trịnh Phương Hoa" class="rounded-3 img-fluid" id="img_member">
            <div class="ps-2 pt-3">
                <h6 class="font--size-16 font--weight-600">Trịnh Phương Hoa</h6>
                <p class="text--color-gray font--size-14">UX/UI Designer</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 border border-light-subtle rounded-3 m-0 p-0"
            style="background-color: #FFF;">
            <img src="\assets\about\image_member\ngan.png" alt="Hồ Thị Mỹ Ngân" class="rounded-3 img-fluid" id="img_member">
            <div class="ps-2 pt-3">
                <h6 class="font--size-16 font--weight-600">Hồ Thị Mỹ Ngân</h6>
                <p class="text--color-gray font--size-14">Front-end Developer</p>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5 align-items-center justify-content-evenly" style="background-color: #F2F2F2;">
    <div class="hstack">
        <div>
            <h3 class="m-5 font--weight-600">Đánh giá của khách hàng</h3>
        </div>
        <div class="ms-auto">
            <button class="btn">
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="22.5" cy="22.5" r="22" transform="matrix(-1 0 0 1 45 0)" fill="white"
                        stroke="#E6E6E6" />
                    <path d="M14.25 22.226H29.25" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M20.2998 16.201L14.2498 22.225L20.2998 28.25" stroke="#1A1A1A" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </button>
            <button class="btn">
                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="22.5" cy="22.5" r="22.5" fill="black" />
                    <path d="M30.75 22.226H15.75" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M24.7002 16.201L30.7502 22.225L24.7002 28.25" stroke="white" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 border border-0 rounded-3 mb-5" style="background-color: #FFF;">
        <svg width="32" height="26" class="m-3" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                d="M23.8222 0C20.4357 0 17.6851 2.65696 17.6851 5.9336C17.6851 9.20821 20.4357 11.8672 23.8222 11.8672C29.6404 11.8672 26.2689 22.171 18.931 23.2443C18.5848 23.2936 18.2688 23.4578 18.0403 23.7071C17.8117 23.9563 17.6857 24.2742 17.6851 24.6032C17.6851 25.4456 18.487 26.1119 19.3751 25.9843C32.7122 24.0847 37.4546 0.00202497 23.8222 0.00202497V0ZM6.13933 0C2.74847 0 0 2.65493 0 5.9336C0 9.20619 2.74847 11.8631 6.13933 11.8631C11.9553 11.8631 8.58385 22.171 1.24597 23.2443C0.900119 23.2936 0.58443 23.4575 0.355931 23.7063C0.127431 23.9551 0.00118682 24.2725 0 24.6011C0 25.4436 0.801907 26.1098 1.68788 25.9823C15.0293 24.0827 19.7717 0 6.13933 0Z"
                fill="black" />
        </svg>
        <p class="font--size-14">
            Sản phẩm đẹp giao siêu nhanh. Nhẫn nhỏ nhỏ rất sáng mới không 1 vết xước. Sẽ mua thêm nhẫn hột to để
            đeo.
            Không có thời gian thì yên tâm đặt online nha mọi người.
        </p>
        <div class="hstack">
            <div>
                <img src="\assets\cus_cmt\lequyen.png" alt="Lệ Quyên" id="cus_cmt">
            </div>
            <div class="ps-2 pt-2">
                <b class="font--size-16">Lệ Quyên</b>
                <p class="font--size-14">Khách hàng</p>
            </div>
            <div class="ms-auto">
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 border border-0 rounded-3 mb-5" style="background-color: #FFF;">
        <svg width="32" height="26" class="m-3" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                d="M23.8222 0C20.4357 0 17.6851 2.65696 17.6851 5.9336C17.6851 9.20821 20.4357 11.8672 23.8222 11.8672C29.6404 11.8672 26.2689 22.171 18.931 23.2443C18.5848 23.2936 18.2688 23.4578 18.0403 23.7071C17.8117 23.9563 17.6857 24.2742 17.6851 24.6032C17.6851 25.4456 18.487 26.1119 19.3751 25.9843C32.7122 24.0847 37.4546 0.00202497 23.8222 0.00202497V0ZM6.13933 0C2.74847 0 0 2.65493 0 5.9336C0 9.20619 2.74847 11.8631 6.13933 11.8631C11.9553 11.8631 8.58385 22.171 1.24597 23.2443C0.900119 23.2936 0.58443 23.4575 0.355931 23.7063C0.127431 23.9551 0.00118682 24.2725 0 24.6011C0 25.4436 0.801907 26.1098 1.68788 25.9823C15.0293 24.0827 19.7717 0 6.13933 0Z"
                fill="black" />
        </svg>
        <p class="font--size-14">
            Mẫu này mình tìm mua lâu rồi mà không thấy, gặp là hốt liền hốt liền luôn. Góp được chiếc nhẫn tặng chính
            mình vui quá. Nhận hàng bất ngờ luôn, ở ngoài đẹp hơn trong hình nhiều luôn á.
        </p>

        <div class="hstack">
            <div>
                <img src="\assets\cus_cmt\lyly.png" alt="Ly Ly" id="cus_cmt">
            </div>
            <div class="ps-2 pt-2">
                <b class="font--size-16">Ly Ly</b>
                <p class="font--size-14">Khách hàng</p>
            </div>
            <div class="ms-auto">
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 border border-0 rounded-3 mb-5" style="background-color: #FFF;">
        <svg width="32" height="26" class="m-3" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                d="M23.8222 0C20.4357 0 17.6851 2.65696 17.6851 5.9336C17.6851 9.20821 20.4357 11.8672 23.8222 11.8672C29.6404 11.8672 26.2689 22.171 18.931 23.2443C18.5848 23.2936 18.2688 23.4578 18.0403 23.7071C17.8117 23.9563 17.6857 24.2742 17.6851 24.6032C17.6851 25.4456 18.487 26.1119 19.3751 25.9843C32.7122 24.0847 37.4546 0.00202497 23.8222 0.00202497V0ZM6.13933 0C2.74847 0 0 2.65493 0 5.9336C0 9.20619 2.74847 11.8631 6.13933 11.8631C11.9553 11.8631 8.58385 22.171 1.24597 23.2443C0.900119 23.2936 0.58443 23.4575 0.355931 23.7063C0.127431 23.9551 0.00118682 24.2725 0 24.6011C0 25.4436 0.801907 26.1098 1.68788 25.9823C15.0293 24.0827 19.7717 0 6.13933 0Z"
                fill="black" />
        </svg>
        <p class="font--size-14">
            Mẫu mã thời trang, hiện đại, mang lên nhìn tay mình đẹp ra hẳn, sang hẳn. Rất thích, tốc độ rep tin nhắn tư
            vấn nhanh, gọn giải quyết vấn đề đúng trọng tâm. 10 điểm không có nhưng.
        </p>
        <div class="hstack">
            <div>
                <img src="\assets\cus_cmt\hoaminzy.png" alt="Hòa Minzy" id="cus_cmt">
            </div>
            <div class="ps-2 pt-2">
                <b class="font--size-16">Hòa Minzy</b>
                <p class="font--size-14">Khách hàng</p>
            </div>
            <div class="ms-auto">
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
                <i class="fa-sharp fa-solid fa-star" style="color: orange;"></i>
            </div>
        </div>
    </div>
</div>