<div id="main" class="container">
    <div>
        <a><i class="bi bi-arrow-left" style="font-size: 20px;"></i></a>
    </div>
    <div class="d-md-flex">
        <div id="post">
            <div class="headings">
                <div class="title">
                    <h2 class="text-title">Dị ứng bạc từ đâu, nguyên nhân thực sự có phải do bạc?</h2>
                </div>

                <div class="meta">
                    <a class="link">
                        <i class="bi bi-person-fill" style="font-size: 18px;"></i>&nbsp;&nbsp;Nguyen Thi Hong
                        Anh
                    </a>
                    <a class="link">
                        <i class="bi bi-clock-fill"></i>&nbsp;&nbsp;01/12/2023
                    </a>
                    <a class="link">
                        <i class="bi bi-chat-dots-fill"></i>&nbsp;&nbsp;20
                    </a>
                </div>
            </div>

            <!-- thumbnail  -->
            <div class="thumbnail"
                style="background: url('/assets/blog/blogList/diungbac.png') bottom center / cover no-repeat">
            </div>

            <!-- content -->
            <div class="content">
                <p>
                    Trang sức bạc ngày nay trở nên rất phổ biến và được ưa chuộng. Tuy nhiên, có một số người
                    thường có triệu chứng dị ứng khi đeo trang sức bạc. Vậy lý do vì sao?
                </p>
                <h3 class="subtitle">1. Trang sức bạc không đúng chuẩn</h3>
                <p>Thông thường, một trong những lý do gây dị ứng bạc nhiều nhất là do người dùng sử dụng những
                    trang sức làm từ bạc không đúng chuẩn.
                </p>
                <p>Trang sức bạc đúng chất lượng phải là trang sức được làm từ bạc cao cấp là bạc 925 hay bạc
                    100. Phổ biến nhất là loại bạc 925. Bạc 925 với thành phần bạc nguyên chất chiếm tới 92.5%,
                    riêng 7.5% còn lại sẽ là hợp chất kim loại khác. Những sản phẩm được làm từ bạc cao cấp, bạc
                    đúng chuẩn sẽ luôn có % bạc trong sản phẩm cao để đảm bảo chất lượng, độ nguyên chất và
                    tránh tình trạng bị dị ứng cho người tiêu dùng. Thông thường, trang sức làm từ bạc cao cấp
                    đúng chuẩn sẽ không gây dị ứng cho người tiêu dùng, hoặc có tác dụng phụ không đáng kể.
                </p>
                <p>Điều đó có nghĩa bạn bị dị ứng vì mua những trang sức làm từ bạc kém chất lượng, không đủ tỷ
                    lệ tiêu chuẩn. Sản phẩm ko đủ % bạc hoặc nếu % bạc ko cao sẽ dẫn đến % còn lại sẽ cao và da
                    có thể sẽ kích ứng với 1 số chất trong % còn lại.</p>
                <h3 class="subtitle">2. Bên ngoài sản phẩm có xi 1 lớp Niken</h3>
                <p>Để chạy theo lợi nhuận, có một số nơi hay xi mạ lên một lớp Niken để bảo vệ bạc, giúp bạc
                    trắng sáng lâu, tránh bị đen và oxi hóa. Điều này cũng giúp họ “qua mắt” được người mua tin
                    rằng đó là sản phẩm bạc nguyên chất. Sự bóng sáng “giả tạo” của lớp Niken này vô tình kết
                    hợp với mồ hôi chúng ta và xảy ra dị ứng cho da. Đối với da khỏe thì chỉ là kích ứng không
                    đáng kể nhưng đối với làn da nhạy cảm thì sẽ bị ngứa, ứng đỏ, gây cảm giác khó chịu. Chính
                    điều này dẫn đến sự nhầm lẫn là đeo bạc bị ngứa thực tế là do sản phẩm làm không đúng chuẩn
                </p>
                <div style="text-align: center; margin-top: 20px;"><img src="\assets\blog\blogList\niken.webp"
                        style="width: 50%;"></div>
                <p>Ở những địa chỉ uy tín và đáng tin cậy về trang sức bạc, bạc được làm 1 cách nguyên chất nhất
                    và không xi mạ chất niken, nên có thể đảm bảo cho bạn ko bị dị ứng hay ngứa nhé! Nếu bạn nào
                    mồ hôi muối sợ bạc đeo bị đen thì hãy tìm dịch vụ để xi 1 lớp Rhrodium (vàng trắng) phủ lên
                    sản phẩm, nhằm giúp bạc không bị oxi hóa.
                </p>
                <h3 class="subtitle">3. Bị nhầm lẫn với sản phẩm xi mạ bạc</h3>
                <p>Có bao giờ bạn tự hỏi tại sao một số trang sức bạc ở địa chỉ này lại rẻ hơn đến một nửa trang
                    sức ở các địa chỉ thương hiệu không? Đơn giản sản phẩm bạc xi mạ hẳn nhiên rẻ hơn so với sản
                    phẩm bạc cao cấp - bạc 925.
                </p>
                <p>Sản phẩm bạc xi mạ là sản phẩm chỉ được xi mạ 1 lớp bạc mỏng bao phủ bên ngoài, lõi bên trong
                    là hợp kim loại khác như: đồng, kẽm, sắt… Nên đeo 1 thời gian lớp bạc ấy dần phai đi và lộ
                    ra lõi kim loại bên trong và tiếp xúc với da, khiến da bị kích ứng, mẩn đỏ và ngứa.
                </p>
                <p>Một sản phẩm giả bạc và một sản phẩm bạc cao cấp đương nhiên sẽ có sự chênh lệch xa về giá
                    thành lẫn chất lượng. Vì thế, nếu bạn vô tình đeo những trang sức xi mạ và bị dị ứng thì
                    đừng vội kết luận là dị ứng bạc nhé! Hãy thử đeo trang sức bạc cao cấp mua từ những địa chỉ
                    uy tín, những thương hiệu đáng tin cậy bạn sẽ thấy rõ vấn đề dị ứng của mình là do đâu
                </p>
                <div class="post-banner"
                    style="background: url('/assets/blog/blog4/banner-3.png') center center / cover no-repeat">
                </div>
                <p>Đến đây, bạn đã biết được phần nào những lý do dị ứng bạc rồi phải không? Phần lớn đều xuất
                    phát từ những sản phẩm kém chất lượng, chúng vô tình làm mất “uy tín” vốn có của bạc cao
                    cấp. Hãy thật thận trọng và thông minh chọn địa chỉ để mua trang sức bạc bạn nhé! Hãy chọn
                    cho mình thương hiệu trang sức bạc lâu năm, uy tín, và không ngừng phát triển để sỡ hữu
                    những trang sức bạc chất lượng nhất.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 px-5">
            <div class="related-post-list">
                <h2 class="related-title">Bài viết liên quan</h2>
                <div routerLink="../lam-the-nao-de-bao-quan-trang-suc-bac" class="related-post">
                    <img src="\assets\blog\blogList\lamthenaodebaoquan.jpg" class="related-post-img" width="100%">
                    <div class="related-post-body">
                        <p class="related-post-time">20/12/2023</p>
                        <h3 class="related-post-heading">Làm thế nào để bảo quản trang sức bạc?</h3>
                        <p class="related-post-desc">
                            Sử dụng trang sức bạc mà không biết cách bảo quản sẽ làm bạc bị đen, gây mất thẩm mỹ,
                            thậm chí có thể sẽ hư hỏng. Hãy cùng PenZe Silver tìm hiểu cách bảo quản và làm sáng
                            bóng những món đồ bạc mà bạn yêu thích nhé!
                        </p>
                        <a href="blogDetail.html" class="view-more"><b>Xem thêm</b> <i class="bi bi-arrow-right"
                                style="vertical-align: middle; margin-left: 10px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-comments">
        <h2 class="comment-title">Viết bình luận của bạn tại đây</h2>
        <!-- comment form -->
        <div class="comment-form">
            <label for="input-name">Họ và tên</label>
            <textarea class="input-name" id="input-name" placeholder="Nhập họ và tên của bạn vào đây"></textarea>
            <label for="input-content">Nội dung</label>
            <textarea type="text" class="input-content" id="input-content"
                placeholder="Nhập nội dung bình luận của bạn tại đây"></textarea>
            <input type="checkbox" class="saved" id="checked"><span class="saved-text">
                <label for="checked">Lưu tên và email cho lần bình
                luận tiếp theo</label></span>
            <div><button class="button-send">Gửi bình luận</button></div>
        </div>
        <h2>Bình luận</h2>
        <div class="comment-section">
            <div class="comment">
                <div class="user-img"
                    style="background: url('assets/user/NinhDuongLanNgoc.jpg')  top center / cover no-repeat; background-size: 75px;">
                </div>
                <div class="comment-detail">
                    <span class="user-name">Ninh Dương Lan Ngọc</span> &#9679;
                    <span class="comment-time">22/12/2023</span>
                    <p class="comment-content">Bài viết thật bổ ích</p>
                </div>
            </div>
            <hr>
            <div class="comment">
                <div class="user-img"
                    style="background: url('assets/user/TrangPhap.jpg')  center center / cover no-repeat; background-size: 80px;">
                </div>
                <div class="comment-detail">
                    <span class="user-name">Trang Pháp</span> &#9679;
                    <span class="comment-time">22/12/2023</span>
                    <p class="comment-content">Cảm ơn admin, kiến thức bổ ích quá nè <3 </p>
                </div>
            </div>
            <hr>
            <div class="comment">
                <div class="user-img"
                    style="background: url('assets/user/HuyenBaby.jpg')  top center / cover no-repeat; background-size: 80px;">
                </div>
                <div class="comment-detail">
                    <span class="user-name">Huyền Baby</span> &#9679;
                    <span class="comment-time">22/12/2023</span>
                    <p class="comment-content">Bài viết hay quá!</p>
                </div>
            </div>
            <button class="button-load">Xem thêm</button>
        </div>
    </div>
</div>