<div  id="main">
    <div id="banner">
        <img src="\assets\blog\blogList\Penze Silver.png" style="width: 100%;">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-9 new-blog">
                <div class="row blog-list">
                    <div class="col-xl-6 col-lg-7 col-md-6  blog-image" colspan="3">
                        <a routerLink="tac-dung-khong-tuong-cua-bac-925-se-lam-ban-bat-ngo">
                            <img src="\assets\blog\blogList\tacdungbac925.png">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6  row blog-title py-2">
                        <a class="title" routerLink="tac-dung-khong-tuong-cua-bac-925-se-lam-ban-bat-ngo">
                            <b>TÁC DỤNG KHÔNG TƯỞNG CỦA BẠC 925 SẼ LÀM BẠN BẤT NGỜ</b>
                        </a>
                        <span class="blog-date">
                            22/12/2023
                        </span>
                        <span class="blog-description">
                            Những món đồ trang sức bạc 925 đang rất được ưa chuộng hiện nay, bạn có biết vì sao không? Cùng tham khảo
                            bài viết dưới đây để khám phá nên những sự thật bất ngờ và vô cùng thú vị về trang sức bạc 925 nhé!
                        </span>
                    </div>
                </div>
                
                <div class="row blog-list">
                    <div class="col-xl-6 col-lg-7 col-md-6  blog-image" colspan="3">
                        <a routerLink="lam-the-nao-de-bao-quan-trang-suc-bac">
                            <img src="\assets\blog\blogList\lamthenaodebaoquan.jpg">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6  row blog-title py-2">
                        <a class="title" routerLink="lam-the-nao-de-bao-quan-trang-suc-bac">
                            <b>LÀM THẾ NÀO ĐỂ BẢO QUẢN TRANG SỨC BẠC?</b>
                        </a>
                        <span class="blog-date">
                            20/12/2023
                        </span>
                        <span class="blog-description">
                            Sử dụng trang sức bạc mà không biết cách bảo quản sẽ làm bạc bị đen, gây mất thẩm mỹ,
                            thậm chí có thể sẽ hư hỏng. Hãy cùng PenZe Silver tìm hiểu cách bảo quản và làm sáng
                            bóng những món đồ bạc mà bạn yêu thích nhé!
                        </span>
                    </div>
                </div>
                <div class="row blog-list">
                    <div class="col-xl-6 col-lg-7 col-md-6  blog-image" colspan="3">
                        <a routerLink="tai-sao-bac-lai-bi-den">
                            <img src="\assets\blog\blogList\taisaobacbiden.png">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6  row blog-title py-2">
                        <a class="title" routerLink="tai-sao-bac-lai-bi-den">
                            <b>TẠI SAO BẠC LẠI BỊ ĐEN</b>
                        </a>
                        <span class="blog-date">
                            10/12/2023
                        </span>
                        <span class="blog-description">
                            Bạn đã bao giờ thắc mắc: "Tại sao bạc lại dễ bị chuyển sang màu đen?". Cùng PenZe Silver
                            tìm hiểu những kiến thức mới để lý giải cho trường hợp này nhé!
                        </span>
                    </div>
                </div>
                <div class="row blog-list">
                    <div class="col-xl-6 col-lg-7 col-md-6  blog-image" colspan="3">
                        <a routerLink="di-ung-bac-tu-dau">
                            <img src="\assets\blog\blogList\diungbac.png">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6  row blog-title py-2">
                        <a class="title" routerLink="di-ung-bac-tu-dau">
                            <b>DỊ ỨNG BẠC TỪ ĐÂU? NGUYÊN NHÂN THỰC SỰ CÓ PHẢI DO BẠC</b>
                        </a>
                        <span class="blog-date">
                            01/12/2023
                        </span>
                        <span class="blog-description">
                            Trang sức bạc ngày nay trở nên rất phổ biến và được ưa chuộng. Tuy nhiên, có một số
                            người thường có triệu chứng dị ứng khi đeo trang sức bạc. Vậy lý do vì sao? Hãy cùng tìm
                            hiểu cùng PenZe Silver nhé!
                        </span>
                    </div>
                </div>
                <div class="row blog-list">
                    <div class="col-xl-6 col-lg-7 col-md-6  blog-image" colspan="3">
                        <a routerLink="bat-mi-cach-phan-biet-bac-that-gia-ngay-tai-nha">
                            <img src="\assets\blog\blogList\phanbietbac.jpg">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6  row blog-title py-2">
                        <a routerLink="bat-mi-cach-phan-biet-bac-that-gia-ngay-tai-nha" class="title">
                            <b>BẬT MÍ CÁCH PHÂN BIỆT BẠC THẬT GIẢ NGAY TẠI NHÀ</b>
                        </a>
                        <span class="blog-date">
                            25/11/2023
                        </span>
                        <span class="blog-description">
                            Trang sức bạc ngày càng phổ biến với đa dạng mẫu mã và giá cả hợp lý. Tuy nhiên, nguy cơ
                            mua phải bạc giả cũng ngày càng tăng cao. PenZe Silver sẽ giới thiệu cách phân biệt đơn
                            giản giữa bạc thật và giả để bạn có trải nghiệm mua sắm thông minh.
                        </span>
                    </div>
                </div>
                <div class="row blog-list">
                    <div class="col-xl-6 col-lg-7 col-md-6  blog-image" colspan="3">
                        <a routerLink="chon-khuyen-tai-bac-giup-phai-nu-thang-hang-nhan-sac">
                            <img src="\assets\blog\blogList\chonkhuyentaibac.png">
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6  row blog-title py-2">
                        <a routerLink="chon-khuyen-tai-bac-giup-phai-nu-thang-hang-nhan-sac" class="title">
                            <b>CHỌN KHUYÊN TAI BẠC GIÚP PHÁI NỮ THĂNG HẠNG NHAN SẮC</b>
                        </a>
                        <span class="blog-date">
                            15/11/2023
                        </span>
                        <span class="blog-description">
                            Để tạo điểm nhấn cho gương mặt, việc chọn đôi khuyên tai bạc phù hợp là quyết định quan
                            trọng. Hãy để PenZe Silver hướng dẫn bạn cách chọn đôi khuyên tai bạc phù hợp, làm nổi
                            bật vẻ đẹp của bạn nhé.
                        </span>
                    </div>
                </div>
                <div class="pagination">
                    <a><i class="bi bi-chevron-left"></i></a>
                    <a class="active">1</a>
                    <a>2</a>
                    <a>3</a>
                    <a><i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 list-blog">
                <div class="title">
                    <h2 class="highlight-title">Bài viết nổi bật</h2>
                </div>
                <div class="feature-blog">

                <div routerLink="lam-the-nao-de-bao-quan-trang-suc-bac" class="blog-highlight">
                    <div class="highlight-post">
                        <img src="\assets\blog\blogList\lamthenaodebaoquan.jpg" alt="" class="highlight-post-img"
                            width="100%">
                        <div class="highlight-post-body">
                            <a>
                                <p class="highlight-post-time">20/12/2023</p>
                            </a>
                            <a>
                                <h3 class="highlight-post-heading">LÀM THẾ NÀO ĐỂ BẢO QUẢN TRANG SỨC BẠC?</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div routerLink="di-ung-bac-tu-dau" class="blog-highlight">
                    <div class="highlight-post">
                        <img src="\assets\blog\blogList\diungbac.png" alt="" class="highlight-post-img" width="100%">
                        <div class="highlight-post-body">
                            <a>
                                <p class="highlight-post-time">01/12/2023</p>
                            </a>
                            <a>
                                <h3 class="highlight-post-heading">DỊ ỨNG BẠC TỪ ĐÂU? NGUYÊN NHÂN THỰC SỰ CÓ PHẢI DO
                                    BẠC?</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div routerLink="bat-mi-cach-phan-biet-bac-that-gia-ngay-tai-nha" class="blog-highlight">
                    <div class="highlight-post">
                        <img src="\assets\blog\blogList\phanbietbac.jpg" alt="" class="highlight-post-img"
                            width="100%">
                        <div class="highlight-post-body">
                            <a>
                                <p class="highlight-post-time">19/12/2021</p>
                            </a>
                            <a>
                                <h3 class="highlight-post-heading">BẬT MÍ CÁCH PHÂN BIỆT BẠC THẬT GIẢ NGAY TẠI NHÀ
                                </h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
