<div id="main" class="container">
    <div>
        <a routerLink=""><i class="bi bi-arrow-left" style="font-size: 20px;"></i></a>
    </div>
    <div class="d-md-flex">
        <div id="post">
            <div class="headings">
                <div class="title">
                    <h2 class="text-title">TẠI SAO BẠC LẠI BỊ ĐEN?</h2>
                </div>

                <div class="meta">
                    <a href="#" class="link">
                        <i class="bi bi-person-fill" style="font-size: 18px;"></i>&nbsp;&nbsp;Nguyen Thi Hong Anh
                    </a>
                    <a href="#" class="link">
                        <i class="bi bi-clock-fill"></i>&nbsp;&nbsp;10/12/2023
                    </a>
                    <a href="#" class="link">
                        <i class="bi bi-chat-dots-fill"></i>&nbsp;&nbsp;20
                    </a>
                </div>
            </div>

            <!-- thumbnail  -->
            <div class="thumbnail"
                style="background: url('/assets/blog/blogList/taisaobacbiden.png') bottom center / cover no-repeat">
            </div>

            <!-- content -->
            <div class="content">
                <h2 class="stitle">Bạc bị đen, liệu có phải là điềm báo về sức khỏe? </h2>
                <p>
                    Ở thập niên 70, phản ứng của bạc với cơ thể con người đã được các nhà khoa học Liên Xô
                    nghiên cứu. Ngoài các loại muối, mồ hôi còn chứa các axit amin có thành phần là lưu huỳnh.
                    Mồ hôi tiết ra càng nhiều thì bạc càng sẫm màu. Có nhiều lý do dẫn tới tình trạng này nhưng
                    thuờng là do 2 loại chính: Bệnh toàn thân và bệnh cục bộ.
                </p>

                <p>Nếu bạc bạn đeo ở nhiều vị trí cùng bị xám màu thì đó là biểu hiện của bệnh toàn thân, còn
                    nếu chỉ 1 nơi đeo bị xám màu thì là do bệnh cục bộ. Nhưng dù vì lý do gì thì bạn nên theo
                    dõi, nếu cần phải tìm đến bác sĩ về nội tiết tố.
                </p>

                <p>Đã có nhiều trường hợp tuyến mồ hôi tiết chất nhờn gấp 2-3 lần bình thuờng, làm bạc đen một
                    cách nhanh chóng như:</p>
                <ol type="1">
                    <li>Tuyến yên khi bị bệnh có thể gây rối loạn hoóc môn, dẫn tới tiết mồ hôi quá mức kèm theo
                        mật độ lưu huỳnh cao làm bạc bị đen nhiều hơn.</li>
                    <li>Khi mới mang thai, "cơn bão hoóc môn" sẽ nhanh chóng làm mờ đục các đồ trang sức bạc.
                    </li>
                    <li>Đa nang buồng trứng</li>
                    <li>Các bệnh về tuyến thuợng thận cũng làm mồ hôi tiết chất nhờn khá nhiều</li>
                    <li>Dậy thì cũng là nguyên nhân mồ hôi tiết chất nhờn nhiều, do lượng hoóc môn rất cao</li>
                    <li>Với những người tuyến mồ hôi có chứa nhiều lưu huỳnh (thường gọi là mồ hôi muối), bạc sẽ
                        mau bị đen. Có người tuyến mồ hôi ít hoặc không chứa lưu huỳnh Nhưng cũng có một số
                        người tuyến mồ hôi có khả năng khử muối bạc-lưu huỳnh (thường goị là mồ hôi dầu) thì đeo
                        bạc lúc nào cũng rất sáng và bóng.</li>
                </ol>
                <h3 class="subtitle">
                    Bảo quản phòng ngừa bạc bị đen
                </h3>
                <p>
                    Khi đeo trang sức các bạn hạn chế tiếp xúc với hóa chất, nếu bạn nào dung nước hoa thì sau
                    khi xịt nước hoa hoặc bạn nào sử dụng lotion dưỡng da thì đợi tầm 10 - 15p hãy đeo trang sức
                    vào, hạn chế đeo trang sức khi đi làm tóc (uốn , nhuộm , tẩy) vì hóa chất đó sẽ làm đen bạc.
                    Sau khi tắm suối nước nóng, có thể thấy bạc bị đen, bởi vì trong nước nóng có hidrosunfua,
                    nhanh chóng tạo thành muối bạc-lưu huỳnh và làm bạc bị đen. Ngoài ra, sau khi tháo trang sức
                    sau mỗi lần sử dụng, bạn nên vệ sinh sạch sẽ trang sức rồi cất và bảo quản ở nơi khô ráo và
                    kín.</p>
                <h3 class="subtitle">
                    Lưu ý khi bảo quản trang sức bạc
                </h3>
                <p>Ngay cả bạc để lâu ngày không đeo, vẫn có thể bị đen như bình thường nếu để bạc ở nơi có tồn
                    tại hợp chất của lưu huỳnh, hoặc trước khi bảo quản đã vô tình tiếp xúc với mồ hôi mà chưa
                    được lau sạch nên lưu huỳnh vẫn còn bám vào bạc. Như vậy bạn đã vô tình tạo môi trường có
                    điều kiện khá tốt (môi trường kín) càng làm cho bạc phản ứng với lưu huỳnh mạnh hơn.</p>

                <div class="post-banner"
                    style="background: url('/assets/blog/blog3/banner-7.png') center center / cover no-repeat">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 px-5">
            <div class="related-post-list">
                <h2 class="related-title">Bài viết liên quan</h2>
                <div routerLink="../lam-the-nao-de-bao-quan-trang-suc-bac" class="related-post">
                    <img src="/assets/blog/blogList/lamthenaodebaoquan.jpg" class="related-post-img" width="100%">
                    <div class="related-post-body">
                        <p class="related-post-time">20/12/2023</p>
                        <h3 class="related-post-heading">Làm thế nào để bảo quản trang sức bạc?</h3>
                        <p class="related-post-desc">
                            Sử dụng trang sức bạc mà không biết cách bảo quản sẽ làm bạc bị đen, gây mất thẩm mỹ,
                            thậm chí có thể sẽ hư hỏng. Hãy cùng PenZe Silver tìm hiểu cách bảo quản và làm sáng
                            bóng những món đồ bạc mà bạn yêu thích nhé!
                        </p>
                        <a href="blogDetail.html" class="view-more"><b>Xem thêm</b> <i class="bi bi-arrow-right"
                                style="vertical-align: middle; margin-left: 10px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-comments">
        <h2 class="comment-title">Viết bình luận của bạn tại đây</h2>
        <!-- comment form -->
        <div class="comment-form">
            <label for="input-name">Họ và tên</label>
            <textarea class="input-name" id="input-name" placeholder="Nhập họ và tên của bạn vào đây"></textarea>
            <label for="input-content">Nội dung</label>
            <textarea type="text" class="input-content" id="input-content"
                placeholder="Nhập nội dung bình luận của bạn tại đây"></textarea>
            <input type="checkbox" class="saved" id="checked"><span class="saved-text">
                <label for="checked">Lưu tên và email cho lần bình
                luận tiếp theo</label></span>
            <div><button class="button-send">Gửi bình luận</button></div>
        </div>
        <h2>Bình luận</h2>
        <div class="comment-section">
            <div class="comment">
                <div class="user-img"
                    style="background: url('assets/user/NinhDuongLanNgoc.jpg')  top center / cover no-repeat; background-size: 75px;">
                </div>
                <div class="comment-detail">
                    <span class="user-name">Ninh Dương Lan Ngọc</span> &#9679;
                    <span class="comment-time">22/12/2023</span>
                    <p class="comment-content">Bài viết thật bổ ích</p>
                </div>
            </div>
            <hr>
            <div class="comment">
                <div class="user-img"
                    style="background: url('assets/user/TrangPhap.jpg')  center center / cover no-repeat; background-size: 80px;">
                </div>
                <div class="comment-detail">
                    <span class="user-name">Trang Pháp</span> &#9679;
                    <span class="comment-time">22/12/2023</span>
                    <p class="comment-content">Cảm ơn admin, kiến thức bổ ích quá nè <3 </p>
                </div>
            </div>
            <hr>
            <div class="comment">
                <div class="user-img"
                    style="background: url('assets/user/HuyenBaby.jpg')  top center / cover no-repeat; background-size: 80px;">
                </div>
                <div class="comment-detail">
                    <span class="user-name">Huyền Baby</span> &#9679;
                    <span class="comment-time">22/12/2023</span>
                    <p class="comment-content">Bài viết hay quá!</p>
                </div>
            </div>
            <button class="button-load">Xem thêm</button>
        </div>
    </div>
</div>

