<div class="d-flex mx-4">
    <div class="nav-bar flex-fill">
        <ul class="">
            <li class="dashboard">
                <a><i class="bi bi-columns-gap"></i>Tài khoản của tôi</a>
            </li>
            <li><a><i class="bi bi-arrow-repeat"></i>Đơn hàng</a>
            </li>
            <li><a><i class="bi bi-heart"></i>Yêu thích</a></li>

            <li><a><i class="bi bi-star"></i>Đánh giá</a></li>

            <li><a><i class="bi bi-gear"></i>Cài đặt</a></li>
            <li><a><i class="bi bi-box-arrow-in-right"></i>Đăng xuất</a></li>
        </ul>
        <div class="flex-fill">
            <app-my-account></app-my-account>
        </div>
    </div>
</div>